<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
<h1 class="banner"=> Python Variable Autocomplete</h1>
<ul class="menu">
    <li class = "menu">
        <a href="http://www.hoanguyen.dev/">
        hoanguyen.dev
    </li>
    <li class = "menu">
        |
    </li>
    <li class="menu">
        <a href="http://www.hoanguyen.dev/">
            Home
        </a>
    </li>
    <li class="menu">
        <a href="http://www.hoanguyen.dev/resume">
            Resume
        </a>
    </li>
    <li class="menu">
        <a href="http://www.hoanguyen.dev/contact">
            Contact
        </a>
    </li>
</ul>
